@page "/settings"
@using Awesome.Net.WritableOptions;
@using com.clusterrr.TuyaNet
@using tuya_mqtt.net.Services
@using MqttClientOptions = tuya_mqtt.net.Data.MqttClientOptions
@using TuyaCommunicatorOptions = tuya_mqtt.net.Data.TuyaCommunicatorOptions
@inject ILogger<Settings> Logger
@inject IWritableOptions<MqttClientOptions> Mqttdata
@inject IWritableOptions<TuyaCommunicatorOptions> Tuyadata
@inject MqttClientService Client;
@inject TuyaCommunicatorService TuyaService;
@inject ISnackbar Snackbar

<PageTitle>Settings</PageTitle>

<h1>Settings</h1>
@* ReSharper disable UnknownCssClass *@
<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Tuya</MudText>
            <MudText Style="@($"color:{Colors.Grey.Default};")" Typo="Typo.subtitle2">optional API settings to connect to TUYA cloud.</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudPaper Elevation="0">
            @* ReSharper disable once UnknownCssClass *@
            <MudStack Row="true" Class="align-center">
                <MudTextField @bind-Value="_accessId" Label="AccessID" HelperText="API ID" Variant="Variant.Text"></MudTextField>
                <MudButton Variant="Variant.Filled" Style="height:40px" Color="Color.Primary" OnClick=@TestTuyaApi>Try Connect</MudButton>
            </MudStack>
            <MudTextField @bind-Value="_accessSecret" Label="API Secret" HelperText="Tuya API Secret" Variant="Variant.Text" InputType="@_passwordApiInput"
                              Adornment="Adornment.End" AdornmentIcon="@_passwordApiInputIcon" OnAdornmentClick="ButtonTuyaApiPasswordToggle" AdornmentAriaLabel="Show Password"></MudTextField>
            <MudSelect @bind-Value="TuyaApiRegion">
                @foreach (var r in TuyaService.Regions)
                {
                    <MudSelectItem Value="@r">@r</MudSelectItem>
                }
            </MudSelect>
        </MudPaper>
    </MudCardContent>
</MudCard>

<MudCard Class="mt-5">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">MQTT</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudPaper Elevation="0">
            <MudStack Row="true" Class="align-center" >
                <MudTextField @bind-Value="_mqttHost" Label="Adress/IP" HelperText="Broker Adress" Variant="Variant.Text"></MudTextField>
                <MudButton Variant="Variant.Filled" Style="height:40px" Color="Color.Primary" OnClick=@TestDeviceConnection>Test Connection</MudButton>
            </MudStack>
            <MudStack Row="true" Class="align-center">
                <MudTextField @bind-Value="_mqttPort" Label="Port" HelperText="Broker Port" Variant="Variant.Text" Format="D"></MudTextField>
                <MudTooltip Text="use secure connection to broker">
                    <MudSwitch @bind-Checked="_mqttTls" Label="TLS" Color="Color.Primary"/>
                </MudTooltip>
            </MudStack>
        </MudPaper>
        <MudPaper class="mt-6 mb-4" Elevation="0">
            <MudSwitch @bind-Checked="MqttAuthentication" Label="Use Authentication" Color="Color.Primary" />
            <MudTextField @bind-Value="_mqttUsername" Disabled=@NotMqttAuthentication Label="Username" HelperText="MQTT broker login" Variant="Variant.Text"></MudTextField>
            <MudTextField @bind-Value="_mqttPassword" Disabled=@NotMqttAuthentication Label="Password" HelperText="MQTT broker password" Variant="Variant.Text" InputType="@_passwordMqttInput"
                          Adornment="Adornment.End" AdornmentIcon="@_passwordMqttInputIcon" OnAdornmentClick="ButtonMqttPasswordToggle" AdornmentAriaLabel="Show Password"></MudTextField>
        </MudPaper>
        <MudDivider />
        <MudPaper Class="mt-4" Elevation="0">
            <MudTooltip Text="use prototcol version 5, version 3 otherwise">
                <MudSwitch @bind-Checked="_mqttV5" Label="MQTT v5" onH Color="Color.Primary"/>
            </MudTooltip>
            <MudTooltip Text="allow packet fragmentation">
                <MudSwitch @bind-Checked="_mqttNoFragmentation" Label="Packet fagmentation" Color="Color.Primary"/>
            </MudTooltip>
            <MudTextField @bind-Value="_mqttTopic" Label="Topic" HelperText="MQTT Main Topic" Variant="Variant.Text"></MudTextField>
        </MudPaper>
        
    </MudCardContent>
</MudCard>

<MudPaper Elevation="0" Class="d-flex justify-end mt-5 ar-2">
    <MudFab Color="Color.Primary"  StartIcon="@Icons.Material.Filled.Save" OnClick="SaveData" />
</MudPaper>

<MudOverlay Visible=@_isInWait DarkBackground="true" >
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
</MudOverlay>
@* ReSharper restore UnknownCssClass *@
@code {
    private bool _isInWait;  //true if overlay shall be on and spinner rotating
    private string _mqttHost = string.Empty;
    private string _mqttPort = string.Empty;
    private string _mqttTopic = string.Empty;
    private bool _mqttAuthentication;
    private bool MqttAuthentication
    {
        get => _mqttAuthentication;
        set => _mqttAuthentication = value;
    }
    private bool NotMqttAuthentication => !_mqttAuthentication;
    private bool _mqttV5;
    private bool _mqttTls;
    private bool _mqttNoFragmentation;

    private string _mqttUsername = string.Empty;
    private string _mqttPassword = string.Empty;

    private string _accessId = string.Empty;
    private string _accessSecret = string.Empty;

    private TuyaApi.Region TuyaApiRegion { get; set; } = TuyaApi.Region.WesternEurope;

    InputType _passwordMqttInput = InputType.Password;
    string _passwordMqttInputIcon = Icons.Material.Filled.VisibilityOff;
    InputType _passwordApiInput = InputType.Password;
    string _passwordApiInputIcon = Icons.Material.Filled.VisibilityOff;
    bool _isShow;

    void ButtonMqttPasswordToggle() //toggle button at password text box
    {
        @if (_isShow)
        {
            _isShow = false;
            _passwordMqttInputIcon = Icons.Material.Filled.VisibilityOff;
            _passwordMqttInput = InputType.Password;
        }
        else
        {
            _isShow = true;
            _passwordMqttInputIcon = Icons.Material.Filled.Visibility;
            _passwordMqttInput = InputType.Text;
        }
    }

    void ButtonTuyaApiPasswordToggle() //toggle button at password text box
    {
        @if (_isShow)
        {
            _isShow = false;
            _passwordApiInputIcon = Icons.Material.Filled.VisibilityOff;
            _passwordApiInput = InputType.Password;
        }
        else
        {
            _isShow = true;
            _passwordApiInputIcon = Icons.Material.Filled.Visibility;
            _passwordApiInput = InputType.Text;
        }
    }

    protected override void OnInitialized()
    {
        /* get values from global settings*/
        _mqttHost = Mqttdata.Value.MqttHost;
        _mqttPort = Mqttdata.Value.MqttPort > 0 ? Mqttdata.Value.MqttPort.ToString() : String.Empty;
        _mqttUsername = Mqttdata.Value.MqttUser;
        _mqttPassword = Mqttdata.Value.MqttPassword;
        MqttAuthentication = Mqttdata.Value.MqttAuthentication;
        _mqttV5 = Mqttdata.Value.MqttV5;
        _mqttTls = Mqttdata.Value.MqttTls;
        _mqttNoFragmentation = Mqttdata.Value.MqttNoFragmentation;

        _accessId = Tuyadata.Value.TuyaAPIAccessID;
        _accessSecret = Tuyadata.Value.TuyaAPISecret;
        TuyaApiRegion = Tuyadata.Value.TuyaAPIRegion;

    }

    private async Task TestTuyaApi()
    {
        try
        {
            _isInWait = true;
            StateHasChanged();
            
            await TuyaService.TestAPIAsync(_accessId, _accessSecret, TuyaApiRegion);

            Snackbar.Add("API connection successful", Severity.Success);
            Logger.LogInformation($"Test connection to Tuya API successful.");
        }
        catch (Exception e)
        {
            Snackbar.Add($"API connection error<p>{e.Message}", Severity.Error);
            Logger.LogError(e, $"API test connection failed.");
        }
        finally
        {
            _isInWait = false;
            StateHasChanged();
        }
    }

    private async Task TestDeviceConnection()
    {
        try
        {
            if (!int.TryParse(_mqttPort, out var port))
            {
                port = 0;
                _mqttPort = "";
            }
            MqttClientOptions options = new MqttClientOptions()
            {
                MqttHost = _mqttHost,
                MqttPort = port,
                MqttAuthentication = _mqttAuthentication,
                MqttUser = _mqttUsername,
                MqttPassword = _mqttPassword,
                MqttTopic = _mqttTopic,
                MqttV5 = _mqttV5,
                MqttTls = _mqttTls,
                MqttNoFragmentation = _mqttNoFragmentation
            };

            _isInWait = true;
            StateHasChanged();
            var result = await Client.TestAsync(options);
            if (result)
            {
                Snackbar.Add("Connected to MQTT broker", Severity.Success);
                Logger.LogInformation($"Test connection to {_mqttHost} successful.");
            }
            else
            {
                Snackbar.Add("No Error, but also not connected.", Severity.Warning);
                Logger.LogWarning($"Test connection to {_mqttHost} not established.");
            }
        }
        catch (Exception e)
        {
            Snackbar.Add($"MQTT connection error<p>{e.Message}", Severity.Error);
            Logger.LogError(e, $"Test connection to {_mqttHost} failed.");
        }
        finally
        {
            _isInWait = false;
            StateHasChanged();
        }

    }


    private void SaveData()
    {
        Logger.LogInformation($"Save MQTT Settings addr:{_mqttHost} port:{_mqttPort} topic:{_mqttTopic}");
        if (!int.TryParse(_mqttPort, out var port))
        {
            port = 0;
            _mqttPort = "";
        }
        Mqttdata.Update((opt) =>
        {
            opt.MqttHost = _mqttHost;

            opt.MqttPort = port;
            opt.MqttAuthentication = _mqttAuthentication;
            opt.MqttUser = _mqttUsername;
            opt.MqttPassword = _mqttPassword;
            opt.MqttTopic = _mqttTopic;
            opt.MqttV5 = _mqttV5;
            opt.MqttTls = _mqttTls;
            opt.MqttNoFragmentation = _mqttNoFragmentation;
        });

        Logger.LogInformation($"Save TUYA Settings AccessID:{_accessId}");
        Tuyadata.Update((opt) =>
        {
            opt.TuyaAPIAccessID = _accessId;
            opt.TuyaAPISecret = _accessSecret;
            opt.TuyaAPIRegion = TuyaApiRegion;
        });

        Snackbar.Add("Settings saved", Severity.Success);
    }


}
